<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!--  TDSGlobal client id  -->
    <key>client_id</key>
    <string>R1vcMZDdGz5cvNLn</string>
    <!--  游戏名  -->
    <key>game_name</key>
    <string>RO-SEA-TF</string>
    <!--  服务器地址  -->
    <key>domain</key>
    <string>https://tds-xdg-hk.taptap-api.com</string>
    <!--  发包渠道  -->
    <key>channel</key>
    <string>App Store</string>
    <!--  显示在登录界面下方logo，最多三个，尺寸44*14  -->
    <key>game_logos</key>
    <array>
        <string>https://res.xdcdn.net/TDS/Global/res/xd.png</string>
        <string>https://res.xdcdn.net/TDS/Global/res/xd.png</string>
        <string>https://res.xdcdn.net/TDS/Global/res/xd.png</string>
    </array>
    <!--  taptap 登录参数  -->
<!--    <key>taptap</key>-->
<!--    <dict>-->
<!--        <key>client_id</key>-->
<!--        <string>****</string>-->
<!--    </dict>-->
    <!--  line 登录和分享参数  -->
<!--    <key>line</key>-->
<!--    <dict>-->
<!--        <key>channel_id</key>-->
<!--        <string>****</string>-->
<!--    </dict>-->
    <!--  facebook 登录和分享参数  -->
    <key>facebook</key>
    <dict>
        <key>app_id</key>
        <string>1868878816534271</string>
    </dict>
    <!--  google(firebase) 登录参数  -->
    <key>google</key>
    <dict>
        <key>CLIENT_ID</key>
        <string>690854164152-k7pnldl063m11e2gm6op3aklmlb61pou.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.690854164152-k7pnldl063m11e2gm6op3aklmlb61pou</string>
        <key>API_KEY</key>
        <string>AIzaSyBoewVtlkXCbwB0N_jQAm2GhvQXBPEJJrM</string>
        <key>GCM_SENDER_ID</key>
        <string>690854164152</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.gravity.romLoP.ios</string>
        <key>PROJECT_ID</key>
        <string>ragnarok-m-land-of-prophecy</string>
        <key>STORAGE_BUCKET</key>
        <string>ragnarok-m-land-of-prophecy.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:690854164152:ios:9a37bb389281d349de664d</string>
        <key>DATABASE_URL</key>
        <string>https://ragnarok-m-land-of-prophecy.firebaseio.com</string>
    </dict>
    <!--  appsflyer 统计平台参数  -->
<!--    <key>appsflyer</key>-->
<!--    <dict>-->
<!--        <key>app_id</key>-->
<!--        <string>******</string>-->
<!--        <key>dev_key</key>-->
<!--        <string>******</string>-->
<!--    </dict>-->
    <!--  adjust 统计平台参数 events为创建的自定义事件 -->
<!--    <key>adjust</key>-->
<!--    <dict>-->
<!--        <key>app_token</key>-->
<!--        <string>*****</string>-->
<!--        <key>events</key>-->
<!--        <dict>-->
<!--            <key>*****</key>-->
<!--            <string>*****</string>-->
<!--        </dict>-->
<!--    </dict>-->
    <!--  tapdb 统计平台参数  -->
<!--    <key>tapdb</key>-->
<!--    <dict>-->
<!--        <key>app_id</key>-->
<!--        <string>*****</string>-->
<!--    </dict>-->
</dict>
</plist>
